@charset UTF-8;
table.dataGrid{
	width:100%;
	margin:10px 0px 0px 0px;
	border-collapse:collapse;
	//border:1px solid #E6E6E6;
	text-align:center;
}
table.dataGrid tr{
	background:#FCFCFC;
	border-bottom:1px solid #E6E6E6;
}
table.dataGrid td{
	height:55px;
	color:#000000;
	border:1px solid #E6E6E6;
	vertical-align:middle;
	white-space:pre;
	overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	table.dataGrid input.text{
		line-height:0px !important;
	}
}
table.dataGrid input.text{
	height:21px;
	line-height:21px;
	border:1px solid #A0D468;
	padding:0px 2px;
	font-size:12px;
	background:#FFFFFF;
}
table.dataGrid input.ipInput{
	width:143px;
}
table.dataGrid input.ipMac{
	width:190px;
}
table.dataGrid img.edit{
	width:50%;
	height:100%;
	float:left;
	cursor:pointer;
}
table.dataGrid label.operate{
	width:50%;
	float:left;
	cursor:pointer;
	color:#86B157;
}
table.dataGrid i.edit{
	width:13px;
	height:13px;
	cursor:pointer;
	display:inline-block;
	background:url(../images/advance.png) no-repeat -209px -47px;
}
table.dataGrid i.unedit{
	width:13px;
	height:13px;
	cursor:pointer;
	display:inline-block;
	background:url(../images/advance.png) no-repeat -187px -47px;
}
span.dataGridPopVigDes{
	cursor:pointer;
	border-bottom:1px solid #000000;
}
div.dataGridSortDiv{
	height:100%;
	position:relative;
	text-align:center;
}
label.dataGridSortLbl{
	cursor:pointer;
	display:inline-block;
	vertical-align:middle;
}
label.dataGridSortLblDe{
	color:#737373;
}
label.dataGridSortLblHv{
	color:#86B157;
}
i.dataGridSortArrow{
	width:9px;
	height:6px;
	font-size:0px;
	margin-left:5px;
	*margin-top:3px;
	_margin-top:2px;
	display:inline-block;
	vertical-align:middle;
}
i.dataGridSortDown{
	background:url(../images/advance.png) no-repeat 0 0;
}
i.dataGridSortUp{
	background:url(../images/advance.png) no-repeat 0 0;
}
p.dataGridSortP{
	height:2px;
	line-height:0px;
	width:100%;
	font-size:0px;	
	padding:0px; 
	border:0px;
	left:0px;
	bottom:0px;
	position:absolute;
}
p.dataGridSortPDe{
	background:#E6E6E6;
}
p.dataGridSortPHv{
	background:#86B157;
}
ul.gridToolBar{
	font-size:0px;
	margin:10px 0px 0px 0px;
	list-style:none;
}
ul.gridToolBar li{
	color:#86b157;
	font-size:12px;
	margin-left:15px;
	cursor:pointer;
	display:inline-block;
	*display:inline;
}
ul.gridToolBar i{
	height:19px;
	line-height:19px;
	width:20px;
	display:inline-block;
	vertical-align:middle;
}
ul.gridToolBar span{
	margin-left:3px;
	vertical-align:middle;
}
ul.gridToolBar li.add i{
	background:url(../images/advance.png) no-repeat -5px -69px;
}
ul.gridToolBar li.addUn span{
	color:#999999;
}
ul.gridToolBar li.addUn i{
	background:url(../images/advance.png) no-repeat -7px -93px;
}
ul.gridToolBar li.delAll i{
	background:url(../images/advance.png) no-repeat -25px -69px;
}
ul.gridToolBar li.delSel i{
	background:url(../images/advance.png) no-repeat -25px -69px;
}
ul.gridToolBar li.delSelUn span{
	color:#999999;
}
ul.gridToolBar li.delSelUn i{
	background:url(../images/advance.png) no-repeat -48px -69px;
}
ul.gridToolBar li.delAllUn span{
	color:#999999;
}
ul.gridToolBar li.delAllUn i{
	background:url(../images/advance.png) no-repeat -48px -69px;
}
ul.gridToolBar li.refresh i{
	background:url(../images/advance.png) no-repeat -228px -43px;
}
ul.gridToolBar li.email i{
	background:url(../images/advance.png) no-repeat 0 0;
}
ul.gridToolBar li.clrEn i{
	background:url(../images/advance.png) no-repeat 0 0;
}
ul.gridToolBar li.clrUn span{
	color:#999999;
}
ul.gridToolBar li.clrUn i{
	background:url(../images/advance.png) no-repeat 0 0;
}

/* ======select====== */
div.gridSelectCon{
	height:21px;
	margin:0 auto;
	text-align:left;
	border-radius:3px;
	border:1px solid #D3D3D3;
	background:#F3F3F3;
}
div.gridSelectA{
	width:390px;
}
div.gridSelectB{
	width:85px;
}
div.gridSelectB1{
	width:70px;
}
span.hsGridValue{
	color:#000000;
	font-size:12px !important;
	line-height:22px;
}
/* ======select end====== */

/* ======list====== */
span.pageArrow{
	width:20px;
	height:20px;
	line-height:20px;
	float:right;
	margin-left:4px;
	cursor:pointer;
}
span.pageArrowL{
	background:url(../images/advance.png) no-repeat -54px -5px;
}
span.pageArrowR{
	background:url(../images/advance.png) no-repeat -30px -5px;
}
span.pageArrowFi{
	background:url(../images/advance.png) no-repeat -6px -5px;
}
span.pageArrowLa{
	background:url(../images/advance.png) no-repeat -78px -5px;
}
div.pageListPo{
	padding-top:10px;
	margin-bottom:20px;
}
span.ListSpan{
	text-decoration:normal;
}
span.listSpanS{
	text-decoration:underline;
}
div.pageListDiv{
	float:left;
	text-align:center;
}
div.pageListDiv span{
	width:17px;
	color:#86b157;
	font-size:12px;
	font-weight:bold;
	float:left;
	margin-left:2px;
	line-height:20px;
	display:inline-block;
	background-color:white;
	cursor:pointer;
}
div.pageListContent{	
	height:21px;
	float:right;
	max-width:96px;
	margin-left:4px;
	margin-right:1px;
	overflow:hidden;
	_width:expression(this.offsetWidth<96?"":"96px");
}
/* ====list end====== */

/* ====btn====== */
input.bindBtn{
	height:30px;
	width:30px;
	border:0px;
	font-size:0px;
	cursor:pointer;
	background:url(../images/advance.png) no-repeat -4px -30px;
}
input.bindBtnUn{
	height:30px;
	width:30px;
	border:0px;
	font-size:0px;
	cursor:default;
	background:url(../images/advance.png) no-repeat -37px -30px;
}
input.radioBtn{
	height:17px;
	width:18px;
	border:0px;
	font-size:0px;
	cursor:pointer;
	outline:none;
	background:url(../images/wzd.png) no-repeat -94px -242px;
}
input.radioBtnUn{
	height:18px;
	width:18px;
	border:0px;
	font-size:0px;
	cursor:pointer;
	outline:none;
	background:url(../images/advance.png) no-repeat -134px -69px;
}
input.popVigBtn{
	width:60px;
	color:#FFFFFF;
	font-size:12px;
	border:0px;
	padding-top:4px;
	padding-bottom:4px;
	*padding-top:3px;
	*padding-bottom:2px;
	border-radius:4px;
	cursor:pointer;
	background:#A0D468;
}
input.gridBtn{
	color:#FFFFFF;
	font-size:12px;
	padding-top:3px;
	padding-bottom:3px;
	_padding-top:1px;
	_padding-bottom:1px;
	border-radius:3px;
	border:0px;
	cursor:pointer;
	vertical-align:middle;
	background:#A0D468;
}
input.gridSwitchOn{
	color:#FFFFFF;
	font-size:12px;
	border:0px;
	padding-top:4px;
	padding-bottom:4px;
	*padding-top:3px;
	*padding-bottom:2px;
	border-radius:4px;
	cursor:pointer;
	background:#A0D468;
}
input.gridSwitchOff{
	color:#FFFFFF;
	font-size:12px;
	border:0px;
	padding-top:4px;
	padding-bottom:4px;
	*padding-top:3px;
	*padding-bottom:2px;
	border-radius:4px;
	cursor:pointer;
	background:#A0D468;
}
/* ====btn end====== */

/* ====signal====== */
i.signalCon{
	width:32px;
	height:18px;
	display:inline-block;
	text-align:left;
	background:url(../images/advance.png) no-repeat -144px -6px;
}
i.signalCon i.signal{
	height:100%;
	display:inline-block;
	background:url(../images/advance.png) no-repeat -103px -6px;
}

i.signalWeak{
	width:16px;
	height:12px;
	display:inline-block;
	text-align:left;
	background:url(../images/signal_weak.png) no-repeat;
	margin-right:10px;
	margin-left: 12px;
}	
i.signalNormal{
	width:16px;
	height:12px;
	display:inline-block;
	text-align:left;
	background:url(../images/signal_normal.png) no-repeat;
	margin-right:10px;
	margin-left: 12px;
}	
i.signalStrong{
	width:16px;
	height:12px;
	display:inline-block;
	text-align:left;
	background:url(../images/signal_strong.png) no-repeat;
	margin-right:10px;
	margin-left: 12px;
}	
/* ====secure type====== */
i.signalSec{
	width:10px;
	height:11px;
	display:inline-block;
	text-align:left;
	background:url(../images/lock_black.png) no-repeat;
}

/* ====SSID & MAC info====== */
p.currentSSID{
    color: #4d4d4d;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
} 
p.currentMAC{
	width:100%;
	color:#999999;
	font-size:12px;
}
/* ====btn end====== */